$background-color: #18171f;
$foreground-color: #252433;
$border-color: #57555f;
$highlight-color: #8989da;
$text-color: #e0e0e0;
$navbar-large-width: 20%;
$navbar-middle-width: 50%;
$navbar-small-width: 50%;

$max-small-screen-menu: 769px;
$max-large-screen-menu: 1200px;